@media only screen and (max-width: 768px) {
    header nav a {
        font: 12px/19px 'poppinsregular';
    }

    header nav li:last-of-type a {
        border-radius: 10px;
        font-size: 12px;
        /*letter-spacing: 0.4px;*/
        color: #000000;
        padding: 8px 10px;
    }

    header nav ul li:last-of-type {
        margin-left: 29px;
    }

    header nav ul li:first-of-type {
        margin-right: 10px;
    }

    .what_we_do article {
        display: flex;
        margin: auto;
    }

    .articles {
        gap: 16px;
    }

    .main_screen {
        padding-bottom: 120px;
    }

    .owl-item {
        display: flex;
        justify-content: center;
    }

    .last {
        padding: 50px 50px;
    }

    .what h3 {
        padding-top: 30px;
    }

    .articles {
        padding-bottom: 30px;
    }
    header nav ul li{
        margin-left: 0px;
    }
    header nav ul li:first-of-type{
        margin-right: 0px;
    }
    header nav ul li:last-of-type {
        margin-left: 0px;
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
        left: 0;
        top: 0;
    }
    .nav:before, .nav:after {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(20, 21, 26,0.6);
        border-bottom-left-radius: 200%;
        z-index: -1;
        -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        -webkit-transform: translateX(100%) translateY(-100%);
        transform: translateX(100%) translateY(-100%);
    }
    .nav:after {
        background: rgba(9,9,12,1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .nav:before {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
    .nav__list {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 2;
    }
    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-size: 8vh;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        /*color: rgba(255,255,255,0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;*/
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    /*.nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }*/
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item:last-of-type a:hover{
        color: black;
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    header nav ul{
        display: block;
    }
}

@media only screen and (max-width: 428px) {
    .aperture_logo {
    max-width: 75px
    }
    header{
        background: #181818;
        padding: 10px 0px;
    }
    Header .container{
        max-width: 1200px;
        margin: auto;
        padding-left: 10px;
        padding-right: 0px;
        /*display: flex;
        align-items: center;
        justify-content: space-between;*/
    }
    header nav ul{
        list-style: none;
        /*display: flex;
        align-items: center;*/
    }
    header nav ul li{
        margin-left: 8px;
    }
    header nav ul li:first-of-type{
        margin-right: 8px;
    }
    header nav ul li:last-of-type{
        margin-left: 8px;
    }
    header nav a{
        font: 10px/10px 'poppinsregular';
        color: #FFFFFF;
        text-decoration: none;
    }
    header nav li:first-of-type a{
        font-size: 10px;
    }
    header nav li:last-of-type a{
        background-color: #FFFFFF;
        border-radius: 20px;
        font-size: 10px;
        /*letter-spacing: 0.4px;*/
        color: #000000;
        padding: 8px 20px;

    }
    .what_we_do article{
        max-width: 428px;
        max-height: 428px;
    }
    .main_screen article h1{
        margin-bottom: 18px;
        font: 40px/40px 'poppinsregular';

    }.what h3{
         padding-top: 30px;
         margin-bottom: 10px;
         font: 30px/42px 'poppinsregular';
     }
    .what h4{
        font: 18px/30px 'poppinsregular';
        margin-bottom: 20px;
    }
    .Past_clients{
        background: #000000;
        padding: 50px 50px 50px;
    }
    .Past_clients h2{
        font: 30px/42px 'poppinsregular';
        margin-bottom: 12px;
    }
    .Past_clients h3{
        font: 15px/30px 'poppinsregular';
        margin-bottom: 50px;
    }
    .flex_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .For_Help h2{
        font-size: 30px;
        margin-bottom: 15px;
}
    .footer_logo img{
        max-width: 80px;
    }
    .subscription{
        display: flex;
        flex-wrap: wrap;
    }
    .subscribe_form{
        width: 330px;
    }
    .subscribe_form input {
        width: 70px;
}
    .subscription p{
        margin-bottom: 15px;
    }
    .Licensing a:last-child{
        margin-left: 15px;
    }
    .Licensing a:first-child {
        margin-right: 15px;
    }
    .aperture_photography{
        max-width: 200px;
    }
    .Photographers_videographers{
        margin-right: 20px;
    }
    .pages{
        margin-bottom: 21px;
    }
}